<h1 class="jumbotron text-center">Eat-Da-Burger!</h1>

<div class="container">

    {{!-- form --}}
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Add a burger to the list</h4>
            <div class="input-group">
                <input type="text" class="form-control" id="burger-name" placeholder="Type something here..."
                    aria-label="Burger Name" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success" id="add-burger" type="button">Add</button>
                    <button class="btn btn-outline-secondary" type="button">Clear</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center mt-5">

        {{!-- list non-devoured burgers --}}
        <div class="col-md-6 burger-active">

            <ul class="list-group cProductsList">
                {{#each burgers}}
                {{#unless this.devoured}}
                <li class="list-group-item d-flex justify-content-between">
                    <p class="p-0 m-0 flex-grow-1">{{this.burger_name}}</p>
                    <button type="button" id="{{this.id}}" class='btn btn-outline-danger change-devoured'
                        data-route="/burgers/{{this.id}}" value="{{this.burger_name}}">
                        Eat Me!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        {{!-- list devoured burgers --}}
        <div class="col-md-6 burger-devoured'">

            <ul class="list-group">
                {{#each burgers}}
                {{#if this.devoured}}
                <li class="list-group-item">{{this.burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>
</div>